h1 {
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:rgb(198, 100, 100);
    color:white;
} 

.list {
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color:rgb(198, 100, 100);
    
    
}
html {
    background-color:rgb(254, 215, 221);
}

